<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kinectSandboxUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.AvalonDock" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <kinectSandboxUI.Properties.Settings>
      <setting name="MinDepth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MaxDepth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="Stabilization" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Gradient" serializeAs="String">
        <value />
      </setting>
      <setting name="Isolines" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Rotation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GradientPath" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputScreen" serializeAs="String">
        <value />
      </setting>
      <setting name="FlipHorizontal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OutputTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OutputLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OutputHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="OutputWidth" serializeAs="String">
        <value>800</value>
      </setting>
    </kinectSandboxUI.Properties.Settings>
  </userSettings>
  <log4net debug="true" >
    <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
      <file value="mylogfile.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <!--<appender-ref ref="FileAppender"/>-->
      <appender-ref ref="Console"/>
    </root>
  </log4net>
</configuration>